.bluebg{
    background-image: linear-gradient(155deg,#08415C 30%, #FFFFFF calc(30% + 2px));
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.myImg{
    width: 80vw;
    max-width: 600px;
    margin: 1rem;
    margin-bottom: 0;
}
.about, .aboutText{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about > .aboutText > h1{
    font-weight: bold;
}
.aboutText{
    padding: 0.5rem;
}
*{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.workHeader {
    font-weight: bold;
    font-size: 2rem;
    justify-self: flex-end;
    text-align: center;
    width: 100%;
}
.myWork{
    display: grid;    
    grid-template-columns: repeat( auto-fit, minmax(300px,1fr));
    place-items: center;
}
.icons > *{
    width: 2rem;
    height: 2rem;
}
.icons{
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
}
.card{
    max-width: 300px;
    box-shadow: -2px 5px 10px gray;
    height: fit-content;
    margin: 1rem;
}
.card > .description{
    padding: 2rem;
    padding-top: 0;
}
.card > .screenshot {
    padding: 3rem;
    height: 150px;
    background-color: lightblue;
}
.card > .screenshot > p {
    color: white;
    font-size: 2rem;
    
}
.card > .description > .projectTitle > img {
    width: 1.5rem;
    height: 1.5rem;
}
.card > .description > .projectTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: #08415C;
}
footer > .imgContainer > img{
    display: none;
}
footer > .footerText{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}
footer > .footerText> h4{
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    margin: auto;
}
footer > .footerText > *{
    font-family: "Playfair Display", serif;
}
footer > .footerText > p{
    max-width: 300px;
}
footer > .footerText> .icons{
    margin: auto;
}
/* tablet */
@media (min-width: 944px) and (max-width: 1199px) {
    .myWork{
        margin: 1rem;
        grid-template-columns: repeat( auto-fit, minmax(400px,1fr));
    } 
    .about{
        margin: 1.5rem;
        display: flex;
        flex-direction: row;
    }
    .about > .myImg{
        width: 50vw;
    }
    .aboutText{
        width: 80vw;
        height: 50vh;
        max-height: 1000px;
        box-shadow: 5px 15px 15px lightgray;
        font-size: 1.5vh;
        display: flex;
        flex-direction: column;
        background-color: white;
        z-index: -1;
        padding-left: 5vw;
    }
    .aboutText > h1{
        align-self: flex-start;
        text-align: left;
    }
    .aboutText > p{
        align-self: flex-start;
        max-width: 300px;
        display: flex;
        flex-grow: 1;
    }
    .about > .aboutText> .icons {
        margin: 15px;
        width: min-content;
        gap: 25px;
        align-self: flex-start;
        justify-self: flex-end;
    }
    footer {
        padding: 5vw;
    }
    footer > .footerText > .icons {
        justify-content: flex-start;
        gap: 25px;
    }
    footer > .imgContainer{
        align-self: center;
        width: 100%;
    }
    footer >  .imgContainer> img{
        display: block;
        width: 100%;
        height: auto;
    }
    footer > .footerText{
        width: 40%;
    }
}
@media (min-width: 1200px){
    .myWork{
        margin: 1rem;
        grid-template-columns: repeat( auto-fit, minmax(400px,1fr));
    } 
    .about{
        margin: 1.5rem;
        display: flex;
        flex-direction: row;
    }
    .about > .myImg{
        width: 25vw;
    }
    .aboutText{
        height: min-content;
        max-height: 400px;
        box-shadow: 5px 15px 15px lightgray;
        font-size: 2vh;
        display: flex;
        flex-direction: column;
        background-color: white;
        transform: translate(-5vw);
        z-index: -1;
        padding-left: 5vw;
    }
    .aboutText > h1{
        align-self: flex-start;
        text-align: left;
    }
    .aboutText > p{
        display: flex;
        flex-grow: 1;
    }
    .about > .aboutText> .icons {
        margin: 15px;
        width: min-content;
        gap: 25px;
        align-self: flex-end;
        justify-self: flex-end;
    }
    footer {
        padding: 5vw;
    }
    footer > .footerText > .icons {
        justify-content: flex-start;
        gap: 25px;
    }
    footer > .imgContainer{
        align-self: center;
        width: 100%;
    }
    footer >  .imgContainer> img{
        display: block;
        width: 100%;
        height: auto;
    }
    footer > .footerText{
        width: 40%;
    }
}